@import "./src/styles/variables.scss";
@import "./src/styles/reset.css";
@import "./src/styles/header.scss";
@import "./src/styles/openingSection.scss";
@import "./src/styles/newsSection.scss";
@import "./src/styles/workProcessSection.scss";
@import "./src/styles/servicesSection.scss";
@import "./src/styles/offersSection.scss";
@import "./src/styles/technologiesSection.scss";
@import "./src/styles/partnershipSection.scss";
@import "./src/styles/blogSection.scss";
@import "./src/styles/reviewsSection.scss";
@import "./src/styles/faqSection.scss";


body {
  font-family: "Prompt", Arial, Helvetica, sans-serif;
  color: var(--secondary-color);
  background-color: car(--white-color);
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 100%;
}

.appButton {
  background-color: var(--primary-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 125%;
  padding: 18px 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  outline: none;
  color: var(--white-color);
}

.appButtonArrow {
  width: 14px;
  height: 14px;
  display: block;
  background: no-repeat center url(./src/assets/icons/right-top-arrow-icon.svg);
  background-size: cover;
}

.sectionHeader {
  font-weight: 800;
  font-size: 50px;
  line-height: 110%;
  margin-bottom: 15px;
}

.sectionDescription {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
}

.hidden {
  display: none;
}
