.faqSection {
  width: 100%;
  background-color: var(--white-color);
}

.faqSectionContent {
  max-width: var(--max-width);
  padding: 80px 84px;
  margin: 0 auto;
}

.faqHeader.sectionHeader {
  margin-bottom: 30px;
}

.faqsContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.faqCard {
  flex: 1 0 calc((100% - 20px) / 2);
  border-radius: 20px;
  background-color: var(--primary-color-light);
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 120px;
  max-height: max-content;
}

.question {
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  width: 100%;

  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.questionTrigger {
  display: block;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: no-repeat center url(../assets/icons/plus-icon.svg);
}

.open .questionTrigger {
  background: no-repeat center url(../assets/icons/minus-icon.svg);
}

.answer {
  font-size: 15px;
  line-height: 130%;
  padding: 5px 30px 30px;
  height: 100px;

  opacity: 0;
  transform: translateY(20px);
  height: 0;
  position: absolute;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--primary-color-light);
}

.open .answer {
  opacity: 1;
  transform: translateY(0px);
  font-size: 15px;
  line-height: 130%;
  height: 100%;
  margin-top: 20px;

  right: 0px;
  left: 0px;
  top: calc(100% - 35px);

  transition: all 0.3s;
}
