.openingSection {
  height: calc(100vh - 71px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.breadcrumbs {
  max-width: var(--width);
  width: 100%;
  margin: 0 auto;
}

.breadcrumbItem {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: var(--secondary-color);
  opacity: 0.5;
}

.breadcrumbItem.active {
  opacity: 1;
}

.openingContentContainer {
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: var(--width);
  width: 100%;
  margin: 0 auto;
  background: no-repeat center right url(../assets/images/background-main.svg);
}

.openingContent {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.openingHeader {
  font-weight: 800;
  font-size: 50px;
  line-height: 110%;
  margin-bottom: 15px;
}

.openingText {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  margin-bottom: 30px;
  width: 90%;
}

.openingButton {
  width: 221px;
}

.openingBottom {
  height: 96px;
  width: 100%;
  background-color: var(--primary-color);
}

.companiesList {
  display: flex;
  height: 100%;
  gap: 80px;
  justify-content: center;
  align-items: center;
}
